@import url('https://fonts.googleapis.com Alguma fonte');

:root {
    --background-color: #ffffff4d;
    --background-task-color: #ffffff4d;

    --btn-color: #FFB6C1;
    --btn-color-hover: #DB7093;

    --wrong-answer: #b40000;
}

/* Global css variables -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Oxanium', cursive; */
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#b271e7", GradientType=1);
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.archive-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    border-radius: 25px;
    border: dashed 3px gray;
    background: violet;
    cursor: pointer;
}

.archive-display {
    height: 15%;
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px 0;
    background: green;
}

.cloud-icon {
    font-size: 44px;
    margin-bottom: 20px;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    background: blue;
    top: 0;
    z-index: 1;
}

.logo {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
}

.nav-itens-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: purple;
    width: 75%;
    height: 100%;
}

.nav-item {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 80px;
    background: hotpink;
}

.help-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    position: absolute;
    background: yellow;
    border-radius: 50%;
    bottom: 8%;
    right: 5%;
    cursor: pointer;
}


.menu-bar {
    position: absolute;
    height: 90%;
    width: 20%;
    background: orange;
    left: 0;
    bottom: 0;
}

.menu-bar::before {
    position: absolute;
    content: '\f0c9';
    font-size: 40px;
    color: black;
    /* background: orange; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    width: 25%;
    height: 10%;
    top: 0;
    left: 100%;
    cursor: pointer;
}
