/* @import url('https://fonts.googleapis.com Alguma fonte'); */

:root {

    --primary-color: #622F7A;
    --secondary-color: #5C2C72;
    --tertiary-color: #49235A;

    --glass-color: #ee82ee69;


}

/* Global css variables -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Oxanium', cursive; */
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#b271e7", GradientType=1);
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.archive-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    border-radius: 25px;
    border: dashed 3px rgb(46, 46, 46);
    background: var(--glass-color);
}

.archive-box-itens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 60%;
}

.archive-display {
    height: 100%;
    height: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #d8d8d8;
    border-radius: 20px;
    padding: 0 10px;
    background: var(--tertiary-color);
    cursor: pointer;
}

.archives-status {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #d8d8d8;
}

.archive-status-crt,
.archive-status-key,
.archive-status-pfx {
    height: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: red;
    border-radius: 20px;
    padding: 0 10px;
}

.remove-archives-status,
.hide-archive-status {
    display: none;
}

.containArchive {
    background: #157415;
}

.cloud-icon {
    font-size: 48px;
    /* margin-bottom: 20px; */
}

.cloud-keyframe {
    animation: moveUpDown 3s ease-in-out infinite;
}

.remove-icon {
    cursor: pointer;
    color: red;
    font-size: 20px;
    padding-left: 10px;
}

.password-box {
    width: 600px;
    height: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border: solid 2px rgb(46, 46, 46);
    background: var(--glass-color);
}

.hide-password-box {
    opacity: 0;
    z-index: -1;
}

.pass-label,
.pass-input,
.pass-submit {
    font-size: 24px;
}

.pass-label {
    padding: 0 5px;
    padding-right: 10px;
}

.pass-input {
    padding: 0 10px;
    background: #c9c9c9;
    border: none;
    border-bottom: 2px solid #000;
}

.pass-input:focus {
    outline: none;
}

.pass-submit {
    margin-left: 5px;
    padding: 0 5px;
    cursor: pointer;
    color: #d8d8d8;
    background: var(--tertiary-color);
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 1;
}

.logo-navbar {
    height: 75%;
    width: 100%;
    background-image: url('../imgs/tecnospeed-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.help-box {
    display: flex;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    border-radius: 15px;
    background: var(--glass-color);
    transition: .5s;
    font-size: 5em;

    width: 350px;
    height: 80%;
    border: 6px double #fff;
}

.menu-bar {
    position: absolute;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-101%);
    background: var(--secondary-color);
    left: 0;
    bottom: 0;
    transition: 1s;
    z-index: 2;
}

.menu-bar::before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c9';
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 0 0 10px;
    width: 15%;
    height: 7%;
    top: 0;
    left: 98%;
    cursor: pointer;
    transition: 1s;
}

.open-menu {
    transform: translateX(0%);
}


.logo-menu {
    position: absolute;
    top: 0;
    height: 10%;
    width: 60%;
    background-image: url('../imgs/tecnospeed-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.menu-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 70%;
    width: 90%;
    padding: 0 10px;
    border-top: 2px solid #fff;
}

.menu-item {
    display: flex;
    justify-content: start;
    text-align: justify;
    width: 100%;
    font-size: 24px;
    padding: 12px 0;
    color: #fff;
}

.instruction-item {
    text-indent: 15px;
    font-size: 20px;
}

.opacity-0 {
    opacity: 0;
}

/* -------------------------------------------------------------------------------------- */
/* @media */
@media (max-height: 600px) {
    
}


/* -------------------------------------------------------------------------------------- */
/* @keyframes */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}