/* @import url('https://fonts.googleapis.com Alguma fonte'); */

:root {

    --primary-color: #622F7A;
    --secondary-color: #5C2C72;
    --tertiary-color: #49235A;

    --glass-color: #ee82ee69;


}

/* Global css variables -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Oxanium', cursive; */
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(80, 36, 125, 1) 35%, rgba(178, 113, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#b271e7", GradientType=1);
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.archive-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    border-radius: 25px;
    border: dashed 3px rgb(46, 46, 46);
    background: var(--glass-color);
    cursor: pointer;
}

.archive-display {
    height: 100%;
    /* height: 15%; */
    max-width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #d8d8d8;
    border-radius: 20px;
    margin: 25px 0;
    padding: 0 10px;
    background: var(--tertiary-color);
}

.cloud-icon {
    font-size: 48px;
    margin-bottom: 20px;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 1;
}

.logo-navbar {
    height: 75%;
    width: 100%;
    background-image: url('../imgs/tecnospeed-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.help-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    position: absolute;
    background: var(--glass-color);
    border-radius: 50%;
    border: 2px solid #fff;
    bottom: 8%;
    right: 5%;
    cursor: pointer;
    transition: all .3s ease;
}

.help-button-hover:hover {
    font-size: 6em;
    bottom: 7.5%;
    right: 4.6%;
}


.help-box {
    position: absolute;
    top: 0;
    transform: translateY(-105%) translateX(-30%);
    width: 0;
    height: 0;
    border-radius: 15px;
    background: var(--glass-color);
    transition: .5s;
}

.help-box-open {
    width: 250px;
    height: 400px;
    border: 6px double #fff;
}

.menu-bar {
    position: absolute;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-101%);
    background: var(--secondary-color);
    left: 0;
    bottom: 0;
    transition: 1s;
    z-index: 2;
}

.menu-bar::before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c9';
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 0 0 10px;
    width: 15%;
    height: 7%;
    top: 0;
    left: 98%;
    cursor: pointer;
    transition: 1s;
}

.open-menu {
    transform: translateX(0%);
}


.logo-menu {
    position: absolute;
    top: 0;
    height: 10%;
    width: 60%;
    background-image: url('../imgs/tecnospeed-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.menu-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 70%;
    width: 90%;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 28px;
    padding: 15px 0;
    margin-bottom: 30px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.menu-item:hover {
    text-decoration: underline;
    background: #48024e;
}

.opacity-0 {
    opacity: 0;
}

/* -------------------------------------------------------------------------------------- */
@media (max-height: 600px) {
    .help-box-open {
        width: 250px;
        height:300px;
    }

    .menu-bar::before {
        width: 20%;
        height: 10%;
    }
}